<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow direct access to the 'public' directory
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Rewrite all other requests to the 'public' directory
    RewriteRule ^(.*)$ public/$1 [L]
    Header always set Access-Control-Allow-Origin "*"
</IfModule>
